
@font-face {
    font-family: 'newSpace';
    src: local('newSpace'), url(/public/static/assets/fonts/new_space/New\ Space.ttf), format('ttf');
}

.header {
    width:100%;
    position: fixed;
    min-height: 15vh;
    background-color: black;
}
.titles-container {
    margin: 2% auto;
}
.titles-container > h1 { 
    font-size: 3rem;;
    color: rgb(255, 187, 0);
    font-family: 'newSpace', Impact, 'Arial Narrow Bold', sans-serif;
}

.titles-container > h3 {
    font-family: 'Poppins thin', 'Syncopate';
    color:  rgba(255, 255, 255, 0.932);
    letter-spacing: 0.2rem;
}