

@font-face {
  font-family: 'newSpace';
  src: local('newSpace'), url(/public/static/assets/fonts/new_space/New\ Space.ttf);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'kodchasan';
  src: local('kodchasan'), url(/public/static/assets/fonts/Kodchasan/Kodchasan-Medium.ttf), format('truetype');

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


